<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Datos</title>
</head>

<body>

  <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Completar Formulario' : 'Disable linear mode'}}
  </button> -->
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <!-- Primer Form: Datos Personales -->
    <mat-step [stepControl]="primerFormUsuario">
      <form [formGroup]="primerFormUsuario">
        <ng-template matStepLabel>Datos Personales</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" placeholder="Ingrese su nombre" />
          <mat-error
            *ngIf="primerFormUsuario.controls['name'].hasError('required') && primerFormUsuario.controls['name'].dirty">
            Campo obligatorio.
          </mat-error>
          <mat-error
            *ngIf="primerFormUsuario.controls['name'].hasError('maxlength') && primerFormUsuario.controls['name'].dirty">
            Superaste los caracteres disponibles.
          </mat-error>
          <mat-error
            *ngIf="primerFormUsuario.controls['name'].hasError('pattern') && primerFormUsuario.controls['name'].dirty">
            Caracteres invalido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="lastname" placeholder="Ingrese su apellido" />
          <mat-error
            *ngIf="primerFormUsuario.controls['lastname'].hasError('required') && primerFormUsuario.controls['lastname'].dirty">
            Campo obligatorio.
          </mat-error>
          <mat-error
            *ngIf="primerFormUsuario.controls['lastname'].hasError('maxlength') && primerFormUsuario.controls['lastname'].dirty">
            Superaste los caracteres disponibles.
          </mat-error>
          <mat-error
            *ngIf="primerFormUsuario.controls['lastname'].hasError('pattern') && primerFormUsuario.controls['lastname'].dirty">
            Caracteres invalido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Tipo de Usuario</mat-label>
          <mat-select formControlName="role">
            <mat-option value="DOCENTE">Docente</mat-option>
            <mat-option value="ADMINISTRADOR">Administrador</mat-option>
          </mat-select>
          <mat-error
            *ngIf="primerFormUsuario.controls['role'].hasError('required') && primerFormUsuario.controls['role'].dirty">
            Campo obligatorio.
          </mat-error>
        </mat-form-field>




        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>

      </form>
    </mat-step>

    <!-- Segundo Form: Datos Complementarios -->
    <mat-step [stepControl]="segundoFormUsuario">
      <form [formGroup]="segundoFormUsuario">
        <ng-template matStepLabel>Datos Complementarios</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="address" placeholder="Ingrese su dirección" />
          <mat-error
            *ngIf="segundoFormUsuario.controls['address'].hasError('maxlength') && segundoFormUsuario.controls['address'].dirty">
            Superaste los caracteres disponibles.
          </mat-error>
          <mat-error
            *ngIf="segundoFormUsuario.controls['address'].hasError('pattern') && segundoFormUsuario.controls['address'].dirty">
            Caracteres invalido.
          </mat-error>

        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthdate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="phone" placeholder="Ingrese su teléfono" />
          <mat-error
            *ngIf="segundoFormUsuario.controls['phone'].hasError('maxlength') && segundoFormUsuario.controls['phone'].dirty">
            Superaste los caracteres disponibles.
          </mat-error>
          <mat-error
            *ngIf="segundoFormUsuario.controls['phone'].hasError('pattern') && segundoFormUsuario.controls['phone'].dirty">
            Caracter invalido.
          </mat-error>

        </mat-form-field>


        <div>
          <button mat-button matStepperPrevious>Regresar</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Completado</ng-template>
      <div>
        <button mat-button matStepperPrevious>Regresar</button>
        <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
        <button mat-raised-button color="primary" type="button" (click)="enviarForm()"
          [disabled]="primerFormUsuario.invalid || segundoFormUsuario.invalid">
          Enviar Formulario
        </button>
      </div>
    </mat-step>
  </mat-stepper>

</body>

</html>