<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
</head>

<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="formUsuario" (ngSubmit)="registrarUsuario()" class="row">
      <img class="mb-4" src="https://avellaneda.ibeltran.com.ar/img/logo/logo.png" alt="" width="100" height="100" />

      <mat-form-field appearance="fill">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput type="email" formControlName="email" placeholder="email@example.com" />
        <mat-error *ngIf="formUsuario.controls['email'].hasError('required') && formUsuario.controls['email'].dirty">
          El campo es requerido
        </mat-error>
        <mat-error *ngIf="formUsuario.controls['email'].hasError('pattern') && formUsuario.controls['email'].dirty">
          Mail no valido.
        </mat-error>
        <mat-error *ngIf="formUsuario.controls['email'].hasError('maxlength') && formUsuario.controls['email'].dirty">
          Superaste los caracteres disponibles.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Escriba su contraseña"
          (input)="validarContasena()" />
      </mat-form-field>

      <div class="requisitosContasena">
        <p>Tu contraseña debe cumplir con los siguientes requisitos:</p>
        <ul>
          <li [ngClass]="{'valido': letraMinuscula, 'invalido': !letraMinuscula}">
            Contener al menos una letra minúscula
          </li>
          <li [ngClass]="{'valido': letraMayuscula, 'invalido': !letraMayuscula}">
            Contener al menos una letra mayúscula
          </li>
          <li [ngClass]="{'valido': numero, 'invalido': !numero}">
            Contener al menos un número
          </li>
          <li [ngClass]="{'valido': minimoCaracteres, 'invalido': !minimoCaracteres}">
            Tener un mínimo de 6 caracteres
          </li>
        </ul>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Registrarse
      </button>

      <hr class="dropdown-divider" />
      <br />

      <p class="mt-5 mb-3 text-muted">&copy; 2017–2024</p>
    </form>
  </main>
</body>

</html>