<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Escuelas</title>
  </head>

  <body>
    <section class="school-header">
      <div class="title">
        <h2>Escuelas</h2>
        <button
          mat-raised-button
          color="primary"
          class="btnAddSchools"
          (click)="addSchool()"
        >
          Agregar Escuela
        </button>
        <!-- Botón para alternar entre escuelas activas y eliminadas -->
        <button
          mat-raised-button
          color="secondary"
          class="btnStatus"
          (click)="showSchoolsTable()"
        >
          {{
            showDisabledTable
              ? "Mostrar Escuelas Habilitados"
              : "Mostrar Escuelas Eliminados"
          }}
        </button>
      </div>
    </section>

    <section class="school-table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            Nombre
          </th>
          <td mat-cell *matCellDef="let school" class="centered-cell">
            {{ school.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="CUE">
          <th mat-header-cell *matHeaderCellDef class="centered-header">CUE</th>
          <td mat-cell *matCellDef="let school" class="centered-cell">
            {{ school.cue }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Province">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            Provincia
          </th>
          <td mat-cell *matCellDef="let school" class="centered-cell">
            {{ school.province }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Locality">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            Localidad
          </th>
          <td mat-cell *matCellDef="let school" class="centered-cell">
            {{ school.locality }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Address">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            Dirección
          </th>
          <td mat-cell *matCellDef="let school" class="centered-cell">
            {{ school.address }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Phone">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            Teléfono
          </th>
          <td mat-cell *matCellDef="let school" class="centered-cell">
            {{ school.phone }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            Acciones
          </th>
          <td mat-cell *matCellDef="let school" class="centered-cell">
            <button
              mat-mini-fab
              color="primary"
              class="btnActions"
              aria-label="edit"
              (click)="editSchool(school)"
              *ngIf="!showDisabledTable"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-mini-fab
              color="warn"
              class="btnActions"
              aria-label="delete"
              (click)="disableSchool(school)"
              *ngIf="!showDisabledTable"
            >
              <mat-icon>delete</mat-icon>
            </button>

            <button
              mat-mini-fab
              color="primary"
              class="btnActions"
              aria-label="enable"
              (click)="enableSchool(school)"
              *ngIf="showDisabledTable"
            >
              <mat-icon>restore_from_trash</mat-icon>
            </button>

            <button
              mat-mini-fab
              color="warn"
              class="btnActions"
              aria-label="delete_forever"
              (click)="deleteSchool(school)"
              *ngIf="showDisabledTable"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </section>

    <section class="footerCard">
      <div class="paginator-container">
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        ></mat-paginator>
      </div>
    </section>
  </body>
</html>
