<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profesor</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.24/angular-material.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="profesor-card">
      <div
        *ngFor="let profesor of profesores$ | async; trackBy: trackByProfesorId"
      >
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title (click)="detalleProfesor(profesor.idProfesor)"
              >{{ profesor.apellido }} {{ profesor.nombre }}
            </mat-card-title>
            <mat-card-subtitle>{{ profesor.correo }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <!-- <div>
              <mat-card-title>ID:</mat-card-title>
              <mat-card-subtitle>{{ profesor.idProfesor }}</mat-card-subtitle>
            </div> -->

            <!-- <div>
              <mat-card-title>especialidad:</mat-card-title>
              <mat-card-subtitle>{{ profesor.especialidad }}</mat-card-subtitle>
            </div> -->

            <h2>Cursos Ofrecidos:</h2>
            <ul>
              <li *ngFor="let curso of profesor.cursos">
                <strong>{{ curso.nombreCurso }}</strong>
                - {{ curso.comision }}
                <br />
              </li>
            </ul>

            <div>
              <mat-card-title>Estado:</mat-card-title>
              <mat-card-subtitle *ngFor="let estado of profesor.estado">
                {{ estado.nombre }}
              </mat-card-subtitle>
            </div>

            <div>
              <mat-card-title>Estudios:</mat-card-title>
              <mat-card-subtitle *ngFor="let estudio of profesor.estudios">
                {{ estudio.nombre }} - {{ estudio.institucion }} ({{
                  estudio.fechaObtencion | date : "dd/MM/yyyy"
                }})
              </mat-card-subtitle>
            </div>
          </mat-card-content>

          <mat-card-actions>
            <button
              mat-raised-button
              color="primary"
              (click)="EditarProfesor(profesor)"
            >
              Editar
            </button>
            <button
              mat-button
              color="warn"
              (click)="EliminarProfe(profesor)"
              aria-label="Eliminar profesor"
            >
              Eliminar
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </section>

    <button
      mat-raised-button
      color="primary"
      id="btnAddUser"
      (click)="AgregarProfesor()"
    >
      Agregar Profesor
    </button>
  </body>
</html>
