.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.example-card {
  width: 300px; /* Ancho fijo */
  height: 300px; /* Altura fija para todas las tarjetas */
  margin: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column; /* Alinear contenido verticalmente */
}

.example-card:hover {
  transform: translateY(-5px);
}

mat-card-header {
  background-color: #f0f0f0;
  padding: 16px;
}

mat-card-title {
  font-size: 1.5em;
  margin: 0;
}

mat-card-subtitle {
  color: #666;
}

mat-card-title, mat-card-subtitle {
  overflow-wrap: break-word; /* Permite que el texto largo se divida */
  word-break: break-word; /* Rompe las palabras largas */
  white-space: normal; /* Asegura que el texto largo pueda hacer saltos de línea */
}

mat-card-content {
  display: flex; /* Usar flexbox para el contenido */
  flex-direction: column; /* Dirección vertical */
  flex-grow: 1; /* Permitir que el contenido crezca */
  overflow: auto; /* Evitar que el contenido se desborde */
}


mat-card-actions {
  padding: 8px 16px;
  display: flex;
  justify-content: flex-start;
}

button {
  margin-left: 8px;
}

.paginator-container {
  display: flex; /* Utiliza flexbox para alinear los elementos */
  margin-top: 20px; /* Espacio superior (ajusta según sea necesario) */
}

button {
  margin-right: 45px; /* Espacio a la derecha del botón */
  margin-top: 10px;
}

.btnDetalle {
  display: inline-block; /* Hace que el elemento tenga dimensiones */
  padding: 5px 15px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  text-align: center; /* Centra el texto */
  transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

.btnDetalle:hover {
  background-color: #cdd5dd; /* Color de fondo al pasar el mouse */
}
