<h1 mat-dialog-title>Editar Profesor</h1>
<div mat-dialog-content class="medidas-dialog">
  <form [formGroup]="formularioEditar" class="input-group-sm mb-3">
    <!-- <div class="row">
      <label for="id" class="form-label">
        ID:
        <input
          type="text"
          [readOnly]="true"
          name="id"
          formControlName="id"
          class="form-control"
        />
        <div
          class="valido"
          *ngIf="
            formularioEditar.controls['id'].dirty &&
            formularioEditar.controls['id'].valid
          "
        >
          Correcto!
        </div>
        <div
          class="invalido"
          *ngIf="formularioEditar.controls['id'].dirty && formularioEditar.controls['id'].errors?.['required']"
        >
          El campo es requerido
        </div>
        <div
          class="invalido"
          *ngIf="formularioEditar.controls['id'].dirty && formularioEditar.controls['id'].errors?.['min']"
        >
          Ingrese una nota válida
        </div>
        <div
          class="invalido"
          *ngIf="formularioEditar.controls['id'].dirty && formularioEditar.controls['id'].errors?.['max']"
        >
          Ingrese una nota válida
        </div>
      </label>
    </div> -->

    <div class="row">
      <label for="nombre" class="form-label">
        Nombre:
        <input
          type="text"
          name="nombre"
          formControlName="nombre"
          class="form-control"
        />
        <div
          class="valido"
          *ngIf="
            formularioEditar.controls['nombre'].dirty &&
            formularioEditar.controls['nombre'].valid
          "
        >
          Correcto!
        </div>
        <div
          class="invalido"
          *ngIf="formularioEditar.controls['nombre'].dirty && formularioEditar.controls['nombre'].errors?.['required']"
        >
          El campo es requerido
        </div>
        <div
          class="invalido"
          *ngIf="formularioEditar.controls['nombre'].dirty && formularioEditar.controls['nombre'].errors?.['pattern']"
        >
          Este campo solo puede contener letras
        </div>
      </label>
    </div>

    <div class="row">
      <label for="apellido" class="form-label">
        Apellido:
        <input
          type="text"
          name="apellido"
          formControlName="apellido"
          class="form-control"
        />
        <div
          class="valido"
          *ngIf="
            formularioEditar.controls['apellido'].dirty &&
            formularioEditar.controls['apellido'].valid
          "
        >
          Correcto!
        </div>
        <div
          class="invalido"
          *ngIf="formularioEditar.controls['apellido'].dirty && formularioEditar.controls['apellido'].errors?.['required']"
        >
          El campo es requerido
        </div>
        <div
          class="invalido"
          *ngIf="formularioEditar.controls['apellido'].dirty && formularioEditar.controls['apellido'].errors?.['pattern']"
        >
          Este campo solo puede contener letras
        </div>
      </label>
    </div>

    <div class="row">
      <label for="correo" class="form-label">
        Correo:
        <input
          type="text"
          name="correo"
          formControlName="correo"
          class="form-control"
        />
        <!-- <div class="valido" *ngIf="formularioEditar.controls['correo'].dirty && formularioEditar.controls['correo'].valid">Correcto!</div>  
                <div class="invalido" *ngIf="formularioEditar.controls['correo'].dirty && formularioEditar.controls['correo'].errors?.['required']">El campo es requerido</div>
                <div class="invalido" *ngIf="formularioEditar.controls['correo'].dirty && formularioEditar.controls['correo'].errors?.['pattern']">Este campo solo puede contener letras</div>              -->
      </label>
    </div>

    <div class="row">
      <label for="telefono" class="form-label">
        Telefono:
        <input
          type="text"
          name="telefono"
          formControlName="telefono"
          class="form-control"
        />
        <!-- <div class="valido" *ngIf="formularioEditar.controls['telefono'].dirty && formularioEditar.controls['telefono'].valid">Correcto!</div>  
                <div class="invalido" *ngIf="formularioEditar.controls['telefono'].dirty && formularioEditar.controls['telefono'].errors?.['required']">El campo es requerido</div>
                <div class="invalido" *ngIf="formularioEditar.controls['telefono'].dirty && formularioEditar.controls['telefono'].errors?.['pattern']">Este campo solo puede contener letras</div>              -->
      </label>
    </div>

    <!-- <div class="row">
      <label for="especialidad" class="form-label"
        >Especialidad:
        <input
          type="text"
          name="especialidad"
          formControlName="especialidad"
          class="form-control"
        />
        <div class="valido" *ngIf="formularioEditar.controls['especialidad'].dirty && formularioEditar.controls['especialidad'].valid">Correcto!</div>  
                <div class="invalido" *ngIf="formularioEditar.controls['especialidad'].dirty && formularioEditar.controls['especialidad'].errors?.['required']">El campo es requerido</div>
                <div class="invalido" *ngIf="formularioEditar.controls['especialidad'].dirty && formularioEditar.controls['especialidad'].errors?.['pattern']">Este campo solo puede contener letras</div>             
      </label>
    </div> -->

    <div class="row">
      <label for="estado" class="form-label">Estado:</label>
      <select formControlName="estado" class="form-control" id="estado">
        <option value="" disabled>Seleccione un estado</option>
        <option
          *ngFor="let estado of estadosPosibles"
          [value]="estado.idEstado"
        >
          {{ estado.nombre }}
        </option>
      </select>
    </div>

   
  


  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <!-- <button mat-raised-button color="primary" [mat-dialog-close]="formularioEditar">aceptar 2</button> -->

  <button mat-button color="warn" (click)="Cancelar()">Cancelar</button>
</div>
