<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle Curso</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="curso.component.css"> <!-- Asegúrate de tener este archivo -->
</head>

<body>

  <div class="container">

    <mat-card *ngIf="!curso$" class="error-curso">
      <mat-card-title>Curso no disponible.</mat-card-title>
    </mat-card>

    <mat-card *ngIf="curso$" class="course-card">
      <mat-card-content>
        <mat-card-title class="mat-title">Detalles del Curso</mat-card-title>

        <mat-divider></mat-divider>
        <strong *ngIf="profesor$">Profesor: {{ profesor$.nombre }} {{ profesor$.apellido }}</strong>
        <mat-divider></mat-divider>

        <div class="course-details">
          <!-- <strong>ID:</strong> {{ curso$.idCurso }} <br /> -->
          <strong>Comisión:</strong> {{ curso$.comision }} <br />
          <strong>Curso:</strong> {{ curso$.nombreCurso }} <br />
          <strong>Descripción:</strong> {{ curso$.descripcion }} <br />
          <strong>Detalle:</strong> {{ curso$.detalle }} <br />
          <strong>Fecha de Inicio:</strong> {{ curso$.fechaInicio | date : "dd/MM/yyyy" }} <br />
          <strong>Fecha de Fin:</strong> {{ curso$.fechaFin | date : "dd/MM/yyyy" }} <br />
          <strong>Tipo:</strong> {{ curso$.presencial ? 'El curso es presencial.' : 'El curso es virtual.' }}
        </div>

        <mat-divider></mat-divider>

    
        <section class="alumnos-table">
          <h2>Alumnos Inscritos</h2>
          <table mat-table [dataSource]="listaInscripcion$" class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let inscripcion"> {{ inscripcion.alumno.nombre }} {{ inscripcion.alumno.apellido
                }} </td>
            </ng-container>

            <ng-container matColumnDef="fechaInscripcion">
              <th mat-header-cell *matHeaderCellDef> Fecha de Inscripción </th>
              <td mat-cell *matCellDef="let inscripcion"> {{ inscripcion.fechaInscripcion | date: 'dd/MM/yyyy' }} </td>
            </ng-container>

            <ng-container matColumnDef="detalle">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td class="btnDetalle" (click)="detalleAlumno(inscripcion.alumno.idAlumno)" mat-cell *matCellDef="let inscripcion"> Ver Más
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['nombre', 'fechaInscripcion', 'detalle']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['nombre', 'fechaInscripcion', 'detalle'];"></tr>
          </table>
        </section>
      </mat-card-content>
    </mat-card>
  </div>

</body>

</html>