body {
    font-family: 'Roboto', sans-serif;
    background-color: #eef2f5; /* Color de fondo suave */
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px; /* Ancho máximo */
    margin: 0 auto;
}

mat-card {
    margin-bottom: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


.course-card {
    background-color: #ffffff; /* Fondo blanco para los detalles del curso */
}

.course-details {
    line-height: 1.5; /* Espaciado entre líneas para mejor legibilidad */
    color: #333; /* Color de texto oscuro */
}

.mat-title {
    font-size: 1.5rem; /* Tamaño de fuente más grande para el título */
    font-weight: 500; /* Peso de la fuente para el título */
    color: #1976d2; /* Color primario de Angular Material */
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  

  .btnDetalle {
    display: inline-block; /* Mantiene el comportamiento como botón */
    padding: 8px 16px; /* Ajustar el padding para un botón más grande */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    text-align: center; /* Centra el texto */
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
    margin-top: 5px;
  }
  
  .btnDetalle:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
  }
  

  .error-curso {
    text-align: center;
    background-color: #ffdddd; /* Color de fondo para error */
    border: 1px solid #ffcccc; /* Borde para destacar el error */
}
