<h1 mat-dialog-title>Editar Profesor</h1>
<div mat-dialog-content class="medidas-dialog">
  <form [formGroup]="formularioEditar" class="input-group-sm mb-3">

    <!-- <div class="row">
        <label for="id" class="form-label">
          id:
          <input
            type="text"
            name="id"
            formControlName="id"
            class="form-control"
          />
        </label>
      </div> -->
  
      <div class="row">
        <label for="nombreCurso" class="form-label">Nombre del Curso:
          <input type="text" name="nombreCurso" formControlName="nombreCurso" class="form-control" />
          <div class="valido" *ngIf="formularioEditar.controls['nombreCurso'].dirty && formularioEditar.controls['nombreCurso'].valid">Correcto!</div>
          <div class="invalido" *ngIf="formularioEditar.controls['nombreCurso'].dirty && formularioEditar.controls['nombreCurso'].errors?.['required']">El campo es requerido</div>
          <div class="invalido" *ngIf="formularioEditar.controls['nombreCurso'].dirty && formularioEditar.controls['nombreCurso'].errors?.['pattern']">Este campo solo puede contener letras</div>
        </label>
      </div>

      <div class="row">
        <label for="comision" class="form-label">Comision del Curso:
          <input type="text" name="comision" formControlName="comision" class="form-control" />
          <div class="valido" *ngIf="formularioEditar.controls['comision'].dirty && formularioEditar.controls['comision'].valid">Correcto!</div>
          <div class="invalido" *ngIf="formularioEditar.controls['comision'].dirty && formularioEditar.controls['comision'].errors?.['required']">El campo es requerido</div>
          <div class="invalido" *ngIf="formularioEditar.controls['comision'].dirty && formularioEditar.controls['comision'].errors?.['pattern']">Este campo solo puede contener letras</div>
        </label>
      </div>

      <div class="row">
        <p class="form-label">Descripción del Curso:</p>
        <textarea type="text" name="descripcion" formControlName="descripcion" class="form-control"></textarea>
        <div class="valido" *ngIf="formularioEditar.controls['descripcion'].dirty && formularioEditar.controls['descripcion'].valid">Correcto!</div>
        <div class="invalido" *ngIf="formularioEditar.controls['descripcion'].dirty && formularioEditar.controls['descripcion'].errors?.['required']">El campo es requerido</div>
        <div class="invalido" *ngIf="formularioEditar.controls['descripcion'].dirty && formularioEditar.controls['descripcion'].errors?.['pattern']">Este campo solo puede contener letras</div>
      </div>
      
      <div class="row"> 
        <label for="fechaInicio"  class="form-label">
            Inicio del Curso: 
            <input type="date" name="fechaInicio" formControlName="fechaInicio" class="form-control" >
            <div class="invalido" *ngIf="formularioEditar.controls['fechaInicio'].dirty && formularioEditar.controls['fechaInicio'].errors?.['required']">El campo es requerido</div>
        </label>
    </div>

    <div class="row"> 
        <label for="fechaFin"  class="form-label">
            Finalización del Curso: 
            <input type="date" name="fechaFin" formControlName="fechaFin" class="form-control" >
            <div class="invalido" *ngIf="formularioEditar.controls['fechaFin'].dirty && formularioEditar.controls['fechaFin'].errors?.['required']">El campo es requerido</div>
        </label>
    </div>


    <div class="row"> 
      <label for="presencial" class="form-label">
        <mat-checkbox formControlName="presencial" class="form-control">Marcar si el curso es Presencial</mat-checkbox>
      </label>
    </div>
    


    <!-- onProfesorSeleccionado($event) evento para saber que valor selecciono el usuario -->
    <!-- Campo select para elegir el profesor -->
    <mat-form-field>
        <mat-label>Seleccionar Profesor</mat-label>
        <mat-select  (selectionChange)="onProfesorSeleccionado($event)">
          <mat-option *ngFor="let profesor of profesoresObtenidos" [value]="profesor">
            {{ profesor.nombre }} {{ profesor.apellido }}

          </mat-option>
        </mat-select>
      </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-button color="warn" (click)="Cancelar()">Cancelar</button>
</div>


<!-- <div class="example-container">
  <form [formGroup]="options">
    <mat-checkbox [formControl]="hideRequiredControl">Hide required marker</mat-checkbox>
    <div>
      <label>Float label: </label>
      <mat-radio-group [formControl]="floatLabelControl">
        <mat-radio-button value="auto">Auto</mat-radio-button>
        <mat-radio-button value="always">Always</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="example-form-fields">
      <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
        <input matInput placeholder="Simple placeholder" required />
      </mat-form-field>

      <mat-form-field [floatLabel]="floatLabel()">
        <mat-label>Both a label and a placeholder</mat-label>
        <input matInput placeholder="Simple placeholder" />
      </mat-form-field>

      <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
        <mat-select required>
          <mat-option>-- None --</mat-option>
          <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-label><mat-icon>favorite</mat-icon> <strong> Fancy</strong> <em> label</em></mat-label>
      </mat-form-field>
    </div>
  </form>
</div> -->
