.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.titulos {
  display: flex; /* Utiliza flexbox */
  justify-content: space-between; /* Espacio entre el título y el botón */
  align-items: center; /* Centra verticalmente los elementos */
  margin: 20px 0; /* Margen superior e inferior opcional */
  padding-left: 1%;
  padding-right: 1%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.cursos-card {
  display: flex;
  flex-wrap: wrap;
}

.example-card {
  width: 300px; /* Ancho fijo */
  /* height: 400px; Altura fija para todas las tarjetas */
  margin: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column; /* Alinear contenido verticalmente */
}

.example-card:hover {
  transform: translateY(-5px);
}

mat-card-header {
  background-color: #f0f0f0;
  padding: 20px;
}

mat-card-title {
  font-size: 1.5em;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

mat-card-subtitle {
  font-size: 1.2em;
  color: #200909;
  font-family: Verdana, sans-serif;
}

mat-card-content {
  padding: 16px;
  flex-grow: 1; /* Permitir que el contenido crezca y ocupe espacio */
  overflow: auto; /* Agregar scroll si el contenido es demasiado */
}

mat-card-actions {
  padding: 8px 16px;
  display: flex;
  justify-content: flex-start;
}

/* Boton de inscripcion Alumno */
.btnAlumno {
  margin-left: 4.7rem;
  margin-right: 45px;
  margin-top: 10px;
}

/* Boton de editar y eliminar */
.btnAdmin {
  margin-left: 8px;
  margin-right: 45px; /* Espacio a la derecha del botón */
  margin-top: 10px;
}

.paginator-container {
  display: flex; /* Utiliza flexbox para alinear los elementos */
  margin-top: 20px; /* Espacio superior (ajusta según sea necesario) */
}

.btnDetalle {
  display: inline-block; /* Mantiene el comportamiento como botón */
  padding: 8px 16px; /* Ajustar el padding para un botón más grande */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  text-align: center; /* Centra el texto */
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
  margin-top: 5px;
}

.btnDetalle:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
}
