<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cursos</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.24/angular-material.min.css"
    rel="stylesheet" />
</head>

<body>
  <section class="alumnos-header">
    <div class="titulos">
      <h2>Cursos Disponibles</h2>
      <button mat-raised-button color="primary" id="btnAddUser" (click)="AgregarCurso()">
        Agregar Curso
      </button>
    </div>
  </section>

  <section class="cursos-card">
    <div *ngFor="let item of cursosConProfesores$ | async; trackBy: trackByCursosId">
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ item.curso.nombreCurso }}</mat-card-title>

          <mat-card-subtitle>
            <p *ngIf="item.profesor">
              Profesor:
              <a mat-button (click)="detalleProfesor(item.profesor.idProfesor)" target="_blank">
                {{ item.profesor.apellido }} {{ item.profesor.nombre }}
              </a>


            </p>
            <p>Descripción: {{ item.curso.descripcion }}</p>
            <p>Comisión: {{ item.curso.comision }}</p>
            <p>
              Inicio del Curso: {{ item.curso.fechaInicio | date : "dd/MM/yyyy" }}
            </p>
            <p>
              Finalización del Curso:
              {{ item.curso.fechaFin | date : "dd/MM/yyyy" }}
            </p>
            <div [appBooleanStyle]="item.curso.presencial">
              {{ item.curso.presencial | booleanToText : "Presencial" : "Remoto" }}
            </div>
            <a mat-button class="btnDetalle" (click)="detalleCurso(item.curso.idCurso)" target="_blank">Más</a>
            
          </mat-card-subtitle>

        </mat-card-header>
        <mat-card-actions>
          <button class="btnAdmin" mat-raised-button color="primary" (click)="EditarCurso(item.curso)">Editar</button>
          <button class="btnAdmin" mat-button color="warn" (click)="EliminarCurso(item.curso)"
            aria-label="EliminarCurso">Eliminar</button>
        </mat-card-actions>
        
        <mat-card-actions class="inscribirse">
          <button class="btnDetalle" mat-raised-button color="primary" 
          (click)="inscribirseAlCurso()">Inscribirse</button>
        </mat-card-actions>

      </mat-card>
    </div>
  </section>



  <!-- <section class="footerCard">
        <div class="paginator-container">
            <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
            ></mat-paginator>
          </div>
        
    </section> -->
</body>

</html>