/* General Styles */
:host {
  display: block;
  font-family: 'Arial', sans-serif;
  background-color: #f5f7fa;
  /* Fondo gris claro */
  margin: 0;
  padding: 0;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profile-card {
  background-color: #ffffff;
  /* Blanco para el fondo de la tarjeta */
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  max-width: 600px;
  width: 100%;
  padding: 25px;
  margin: 20px;
  border-left: 5px solid #007bff;
  /* Azul para el borde izquierdo */
}

/* Estilos para la cabecera del perfil */
.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
  background-color: #f0f4f8;
  /* Fondo gris claro */
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.profile-details {
  flex-grow: 1;
}

.profile-details h2 {
  margin: 0;
  font-size: 24px;
  color: #007bff;
  /* Color azul primario */
}

.profile-details p {
  color: #555555;
  /* Gris para detalles */
  font-size: 14px;
}

/* Información del perfil */
.profile-info {
  margin-bottom: 30px;
  background-color: #f9f9f9;
  /* Fondo gris claro */
  padding: 15px;
  border-radius: 10px;
}

.profile-info p {
  margin: 8px 0;
  font-size: 16px;
  color: #333333;
  /* Texto en color más oscuro */
}

.profile-info strong {
  color: #007bff;
  /* Color azul primario */
}

/* Lista de cursos */
.course-title {
  color: #007bff;
  /* Color azul primario */
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.course-list {
  list-style-type: none;
  padding: 0;
}

.course-list li {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #e0f7fa;
  /* Fondo celeste claro */
  transition: background-color 0.3s ease;
}

.course-list li:hover {
  background-color: #007bff;
  /* Cambia a azul cuando se pasa el ratón */
  color: white;
  /* Texto en blanco al pasar el ratón */
}

.course-list li strong {
  color: #007bff;
}

/* Responsive Design */
@media (max-width: 600px) {
  .profile-card {
    padding: 20px;
    margin: 10px;
  }

  .profile-header {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .profile-details h2 {
    font-size: 20px;
  }

  .profile-info p {
    font-size: 14px;
  }

  .course-list li {
    padding: 10px;
  }
}


/* Mensaje de no encontrado */
.error-alumno {
  text-align: center;
  background-color: #ffdddd;
  /* Color de fondo para error */
  border: 1px solid #ffcccc;
  /* Borde para destacar el error */
}