<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil del Alumno</title>
  </head>
  <body>
    <div class="profile-container">
      <mat-card *ngIf="!alumno$" class="error-alumno">
        <mat-card-title>Alumno no disponible.</mat-card-title>
      </mat-card>
  
      <div *ngIf="alumno$" class="profile-card">
        <div class="profile-header">
          <img src="assets/img/foto.jpg" alt="Foto de perfil" class="profile-image" />
          <div class="profile-details">
            <h2>{{ alumno$.nombre }} {{ alumno$.apellido }}</h2>
            <p>ID: {{ alumno$.idAlumno }}</p>
          </div>
        </div>
        <div class="profile-info">
          <p><strong>Dirección:</strong> {{ alumno$.direccion }}</p>
          <p><strong>Teléfono:</strong> {{ alumno$.telefono }}</p>
          <p><strong>Correo:</strong> {{ alumno$.correo }}</p>
          <p><strong>Fecha de Nacimiento:</strong> {{ alumno$.fechaNacimiento | date: 'dd/MM/yyyy' }}</p>
        </div>
    
        <h3 class="course-title">Cursos Inscriptos:</h3>
        <ul class="course-list">
          <li *ngFor="let curso of alumno$.cursos">
            <strong>{{ curso.nombreCurso }} - Comisión {{ curso.comision }}</strong>
          </li>
        </ul>
      </div>
    </div>    
  </body>
</html>
