<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil del Profesor</title>
  </head>
  <body>
    <div class="fondo-imagen">
    <div class="profile-container">
      <div *ngIf="!profesor$" class="no-encontrado">
        Profesor no encontrado.
      </div>
      <div *ngIf="profesor$" class="profile-card">
        <div class="profile-header">
          <img src="assets/img/foto2.jpg" alt="Foto de perfil" class="profile-image" />
          <h1>{{ profesor$.nombre }} {{ profesor$.apellido }}</h1>
          <p>ID: {{ profesor$.idProfesor }}</p>
        </div>

        <div class="profile-info">
          <p><strong>Correo:</strong> {{ profesor$.correo }}</p>
          <p><strong>Teléfono:</strong> {{ profesor$.telefono }}</p>
          <p>
            <strong>Fecha de Nacimiento:</strong>
            {{ profesor$.fechaNacimiento | date: "dd/MM/yyyy" }}
          </p>
        </div>

        <div class="profile-section">
          <h2>Cursos Ofrecidos</h2>
          <ul class="courses-list">
            <li *ngFor="let curso of profesor$.cursos">
              <strong>{{ curso.nombreCurso }} - Comisión {{ curso.comision }}</strong>
              <p>{{ curso.detalle }}</p>
            </li>
          </ul>
        </div>

        <div class="profile-section">
          <h2>Estudios</h2>
          <ul class="studies-list">
            <li *ngFor="let estudio of profesor$.estudios">
              <strong>{{ estudio.nombre }}</strong>
              <p>Institución: {{ estudio.institucion }}</p>
              <p>Fecha de Obtención: {{ estudio.fechaObtencion | date: "dd/MM/yyyy" }}</p>
            </li>
          </ul>
        </div>

        <div class="profile-section">
          <h2>Estado</h2>
          <ul class="status-list">
            <li *ngFor="let estado of profesor$.estado">
              <strong>{{ estado.nombre }}</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
