<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalle Curso</title>        
        <link rel="stylesheet" href="index.component.css"> <!-- Asegúrate de tener este archivo -->
      </head>
   
<body>

    <section class="welcome-section">
        <div class="welcome-content">
            <h1>Bienvenidos a <br><br> Instituto  Beltran</h1>
            <p>En Instituto  Beltran ofrecemos educación de calidad con programas innovadores que combinan lo mejor de la enseñanza presencial y virtual.</p>
            <div class="button-group">
                <a href="alumnos"><button class="cta-btn" id="explore-campus">Lista de Alumnos</button></a>
                <a href="profesores"><button class="cta-btn" id="explore-campus">Lista de Profesores</button></a>
                <a href="cursos"><button class="cta-btn" id="explore-campus">Cursos Disponibles</button></a>
                <button class="cta-btn" id="enroll-course">Inscribirse en un Curso</button>
            </div>
        </div>
    </section>

    <footer>
        <p>© 2024 Instituto Tecnologico Beltran. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
