<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recursos</title>
  </head>

  <body>
    <section class="resources-header">
      <div class="title">
        <h2>Recursos</h2>
        <button
          mat-raised-button
          color="primary"
          class="btnAddResources"
          (click)="addResource()"
        >
          Agregar Recurso
        </button>
        <!-- Botón para alternar entre recursos activos y eliminados -->
        <button
          mat-raised-button
          color="secondary"
          class="btnStatus"
          (click)="showResourcesTable()"
        >
          {{
            showDisabledTable
              ? "Mostrar Recursos Habilitados"
              : "Mostrar Recursos Eliminados"
          }}
        </button>
      </div>
    </section>

    <section class="resources-table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            Título
          </th>
          <td mat-cell *matCellDef="let resource" class="centered-cell">
            {{ resource.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Author">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            Autor
          </th>
          <td mat-cell *matCellDef="let resource" class="centered-cell">
            {{ resource.author }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            Tipo
          </th>
          <td mat-cell *matCellDef="let resource" class="centered-cell">
            {{ resource.type }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Brand">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            Marca
          </th>
          <td mat-cell *matCellDef="let resource" class="centered-cell">
            {{ resource.brand }}
          </td>
        </ng-container>

        <ng-container matColumnDef="DateAdmission">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            Fecha de Admisión
          </th>
          <td mat-cell *matCellDef="let resource" class="centered-cell">
            {{ resource.dateAdmission | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            Nombre
          </th>
          <td mat-cell *matCellDef="let resource" class="centered-cell">
            {{ resource.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ISBN">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            ISBN
          </th>
          <td mat-cell *matCellDef="let resource" class="centered-cell">
            {{ resource.isbn }}
          </td>
        </ng-container>

        <ng-container matColumnDef="SerialNumber">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            Número de Serie
          </th>
          <td mat-cell *matCellDef="let resource" class="centered-cell">
            {{ resource.serialNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef class="centered-header">
            Acciones
          </th>
          <td mat-cell *matCellDef="let resource" class="centered-cell">
            <button
              mat-mini-fab
              color="primary"
              class="btnActions"
              aria-label="edit"
              (click)="editResource(resource)"
              *ngIf="!showDisabledTable"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-mini-fab
              color="warn"
              class="btnActions"
              aria-label="delete"
              (click)="disableResource(resource)"
              *ngIf="!showDisabledTable"
            >
              <mat-icon>delete</mat-icon>
            </button>

            <button
              mat-mini-fab
              color="primary"
              class="btnActions"
              aria-label="enable"
              (click)="enableResource(resource)"
              *ngIf="showDisabledTable"
            >
              <mat-icon>restore_from_trash</mat-icon>
            </button>

            <button
              mat-mini-fab
              color="warn"
              class="btnActions"
              aria-label="delete_forever"
              (click)="deleteResource(resource)"
              *ngIf="showDisabledTable"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </section>

    <section class="footerCard">
      <div class="paginator-container">
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        ></mat-paginator>
      </div>
    </section>
  </body>
</html>
